* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* start the head */

body {
    background-color: #222;
    color: #ffffff;
}

.crud {
    max-width: 80%;
    margin: auto;
}

.head {
    text-align: center;
    text-transform: uppercase;
    margin: 10px 0;
    user-select: none;
}

/* start inputs section */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input {
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
    background: #111;
    margin: 3px 0;
    border-radius: 3px;
    padding: 10px;
    color: #fff;
}

input:focus {
    background: #000;
}

.price input {
    width: 20%;
}

img {
    color: red;
    font-size: 0.7em;
    margin: 5px;
    width: 30px;
    -webkit-user-drag: none;
}

#total {
    display: block;
    width: auto;
    background: rgb(46, 27, 123);
    padding: 7px 4px;
    border-radius: 5px;
    font-size: .8em;
    margin: 2px 0;
}

#total::before {
    content: "TOTAL: ";
}

/* btn section */

button {
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 13px 20px;
    color: white;
    cursor: pointer;
    background: #000000;
    transition: background 0.5s, color 0.5s;
    margin-bottom: 5px;
}

button:hover {
    background: rgb(20, 20, 20);
    color: #ffffff;
}

button:focus {
    background: rgb(3, 29, 78);
    color: rgb(255, 255, 255);
}

/* outputs */

form {
    border: none;
    padding: 0;
}

.search input {
    width: 100%;
    border: 1px solid rgb(213, 196, 196);
    display: block;
    padding: 10px 4px 13px 40px;
    background: url(../Images/search.png) no-repeat 4px center;
    /* background-repeat: no-repeat; */
}

.btnSearch {
    display: flex;
    gap: 6px;
}

.btnSearch button {
    width: 45%;
}

table {
    width: 100%;
    text-align: center;
}

table th {
    text-transform: uppercase;
}

th, td {
    padding: 5px;
}

table button:hover {
    letter-spacing: 0ch;
}

/* RWD make it responsive */

@media (max-width:880px) {
    
    table {
        text-align: center;
        font-size: .9em;
        font-weight: 100;
    }

    th {
        padding: 2px;
        font-size: .6em;
    }

    button {
    border: none;
    padding: 13px;
    border-radius: 8px;
    color: white;
    cursor: pointer;
    background: #000000;
    transition: background 0.5s, color 0.5s;
    margin-bottom: 1px;
    font-size: .7em;
    }
    
    .btnSearch {
    gap: 10px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.5s, color 0.5s;
    margin-bottom: 10px;
    font-weight: 100;
    font-size: .9em;
}

tbody button {
    border: none;
    padding: 10px;
    border-radius: 8px;
    color: white;
    cursor: pointer;
    background: #000000;
    transition: background 0.5s, color 0.5s;
    margin-bottom: 1px;
    font-size: .7em;
}
}

@media (max-width:560px) {
    table {
        gap: 2px;
        font-weight: 100;
        font-size: .7em;
        margin-left: 0;
    }

    th {
        padding: 2px;
        font-size: .6em;
    }

    button {
        border: none;
    padding: 10px;
    border-radius: 8px;
    color: white;
    cursor: pointer;
    background: #000000;
    transition: background 0.5s, color 0.5s;
    margin-bottom: 1px;
    font-size: .7em;
    }
    
    .btnSearch {
    gap: 10px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.5s, color 0.5s;
    margin-bottom: 1px;
    font-weight: 100;
    font-size: .7em;
}

tbody button {
    border: none;
    padding: 10px;
    border-radius: 8px;
    color: white;
    cursor: pointer;
    background: #000000;
    transition: background 0.5s, color 0.5s;
    margin-bottom: 1px;
    font-size: .7em;
}

.category_hide {
    display: none;
}

#deleteAll button {
    margin: 6px 0 !important;
    font-size: .7em !important;
    width: 25vw !important;
    height: 9vh !important;
}

}

#deleteAll button {
    margin: 10px 0;
    padding: 1px;
    text-align: center;
    align-items: center;
    font-size: .9em;
    width: 15vw;
    border-radius: 40px;
    color: white;
    background-color: rgba(239, 20, 20, 0.819);
    display: flex;
}

#deleteAll button:hover {
    letter-spacing: normal;
}

#deleteAll button:focus {
    border: 1px solid #000;
}

#submit {
    margin: 6px 0;
}

#searchTitle ,#searchCategory {
    font-size: .8em;
    padding: 10px;
    width: 19vw;
}